* {
    /* debug */
    /* outline: 1px solid limegreen !important; */
    /* background: rgb(0 200 0 / 0.1); */

    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: 'Jost', sans-serif;
    list-style: none;
    text-decoration: none;

    scroll-behavior: smooth;
}

:root {
    /* colors */
    --bg-color: #ffffff;
    --text-color: #000000;
    --main-color: #f75023;
    --second-color: #a09dab;

    /* fonts */
    --big-font: 5rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    color: var(--text-color);

    background: var(--bg-color);
}

/* header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 30px 18%;

    width: 100%;

    background: transparent;

    transition: .3s;
}

.header.-sticky {
    padding-top: 13px;
    padding-bottom: 13px;

    background: var(--bg-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 10%);
}

.header__menu {
    z-index: 10001;

    display: none;

    color: var(--text-color);
    font-size: 35px;

    cursor: pointer;
}

.header__logo img {
    width: 130px;
}

.header__btn {
    display: inline-block;
    padding: 9px 30px;

    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 500;
    letter-spacing: 1px;

    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 30px;

    transition: ease .50s;
}

.header__btn:hover {
    color: var(--bg-color);

    background: var(--main-color);

    transform: scale(1.1);
}

/* main navigation */
.navigation {
    display: flex;
    align-items: center;
}

.navigation__item {
    position: relative;
}

.navigation__link {
    padding: 10px 27px;

    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 500;
}

.navigation__link::after {
    position: absolute;
    bottom: -3px;
    left: 0;

    content: '';

    width: 0;
    height: 2px;

    background: var(--main-color);

    transition: ease .40s;
}

.navigation__link:hover::after {
    width: 100%;
}

/* home */
.container {
    padding: 100px 18%;
}

.home {
    position: relative;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 4rem;

    min-height: 100vh;
    height: 100%;
    width: 100%;

    background: url('./images/background.jpg');
    background-size: cover;
    background-position: center;
}

.home__text h1 {
    margin: 10px 0 25px 0;

    font-size: var(--big-font);
    font-weight: 500;
    line-height: 1;
}

.home__text h5 {
    margin-bottom: 23px;

    font-size: 19px;
    font-weight: 500;
}

.home__text h5 span {
    color: var(--main-color);
}

.home__text h3 {
    color: var(--main-color);
    font-size: 20px;
    font-weight: 500;
}

.home__text p {
    margin-bottom: 20px;

    color: var(--second-color);
    font-size: var(--p-font);
    line-height: 28px;
}

.home__socials {
    display: flex;
    align-items: center;
    column-gap: 22px;

    margin-bottom: 30px;
}

.home__social {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    /* margin-right: 22px; */
    /* margin-bottom: 30px; */

    width: 35px;
    height: 35px;

    color: var(--bg-color);
    font-size: 17px;

    background: rgba(128, 103, 240, 1);
    border-radius: 50%;
}

.home__social:hover {
    background: var(--main-color);

    transform: scale(1.1);
    transition: 0.5s;
}

.home__btn {
    display: inline-block;
    padding: 10px 40px;

    color: var(--bg-color);
    font-size: var(--p-font);
    font-weight: 500;
    line-height: 24px;

    background: var(--main-color);
    border-radius: 30px;

    transition: ease .40s;
}

.home__btn:hover {
    transform: scale(1.1);
}

.home__image img {
    width: 540px;
}